.add-movie-section {
    margin-top: 20px;
}

.dashboard-item {
    text-align: center;
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
}

.add-text{
    margin-bottom: 100px;
}
.add-movie-section .dashboard-item a {
    text-decoration: none;
    color: #fff;
    background-color: #4285f4;
    margin: 0px 100px;
    padding: 10px 100px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
}

.add-movie-section .dashboard-item a:hover {
    background-color: #357ae8;
}


#movie-input {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 8px;
    font-family: bold;
    box-sizing: border-box;
}

.search-movie-btn {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-family: bold;
    font-size: 24px;
}

.search-movie-btn:hover {
    background-color: #357ae8;
}

.movie-list-section {
    margin-top: 30px;
}

.movie {
    display: inline-block;
    width: calc(20% - 20px); /* 20% for each movie with a bit of margin */
    margin: 10px;
    text-align: left;
}

.movie img {
    width: 100%;
    height: auto;
}

.movie-details {
    padding: 10px;
    background-color: #f4f4f4;
}

.movie-details a, .info-movie a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    background-color: #4285f4;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
}

.movie-details a:hover, .info-movie a:hover {
    background-color: #357ae8;
}

.info-movie a[name="delete"] {
    background-color: #ff0000;
}