.home-links {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.home-links li {
    display: inline-block;
    margin: 0px 50px;
}

.home-links a {
    text-decoration: none;
    color: #fff;
    background-color: #4285f4;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.3s;
}

.home-links a:hover {
    background-color: #357ae8;
}