
/* CSS pour les formualires de connexion et pour l'ajout de film*/
.signin-error {
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
}

.signin-form {
    margin-top: 20px;
    border: 1px solid #ccc; 
    padding: 20px 50px;
    border-radius: 8px;
    font-family: bold;
    font-size: 20px;
}

.signin-label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.signin-input {
    width: 100%;
    font-family: bold;
    font-size: 20px;
    padding: 10px 30px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.signin-button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-family: bold;
    font-size: 20px;
}

.signin-button:hover {
    background-color: #357ae8;
}


/* Style pour les boutons d'ajout et suppression de champs pour les acteurs */
.signin-button,
.add-actor-button,
.remove-actor-button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: bold;
    font-size: 20px;
}

.signin-button:hover,
.add-actor-button:hover,
.remove-actor-button:hover {
    background-color: #357ae8;
}

/* Style pour les étoiles */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    margin-bottom: 100px; /* Ajouter de l'espace en bas pour éviter le chevauchement avec le bouton */
}

.rating > input {
    display: none;
}

.rating > label {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
}

.rating > label:not(:checked):before {
    content: '\2605'; /* Étoile pleine en Unicode */
    position: absolute;
    opacity: 1;
    transition: opacity 0.2s;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input:checked ~ label:before {
    opacity: 1;
    color: #f5a623; /* Couleur de l'étoile sélectionnée */
}