body {
    background-color:aliceblue;
    margin: 0;
    padding: 0;
    font-family: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 56px;
    color: #333;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}
p {
    color: #333;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.center-content {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}

#navbar {
    background-color: #333;
    overflow: hidden;
}

#navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 10px;
    float: left;
}

.navbar-item.login-logout {
    margin-left: auto;
}

.navbar-item a {
    display: block;
    color: white;
    font-size: 32px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.login-logout {
    float: right;
}

.navbar-item a:hover {
    color: #9b9b9b;
}

#container {
    margin: 20px 50px;
}

@media screen and (max-width: 600px) {
    .navbar-item, .login-logout {
        float: none;
        display: block;
        text-align: center;
        margin: 0;
    }
}