<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidéothèque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
</head>
<body>
    <nav id="navbar">
        <ul id="navbar-items">
            <li class="navbar-item">
                <a href="{{ url_for('index') }}">Accueil</a>
            </li>
            <li class="navbar-item login-logout">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.signup') }}">Signup</a>
            </li>
            <li class="navbar-item login-logout">
                    <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </li>
        </ul> 
    </nav>
    
    <div id="container" class="center-content">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>