{% extends "base.html" %}

{% block content %}

<h1>Bienvenue sur votre vidéothèque !</h1>

<p>Vous êtes connecté en tant que {{first_name}} {{last_name}}</p>
<div class="add-movie-section">
    <div class="dashboard-item">
        <p class="add-text">Ajout manuel</p>
        <a href="{{ url_for('dashboard.manual_add_movie') }}">Ajouter un film</a>
    </div>

    <div class="dashboard-item">
        <p>Ajout par recherche</p>
        <form id="search-form" action="{{ url_for('dashboard.search_movie') }}" method="get">
            <input type="text" id="movie-input" name="search" placeholder="Entrez le titre du film">
            <input class="search-movie-btn" type="submit" value="Rechercher">
        </form>
    </div>
</div>

<div class="movie-list-section">
    {% for movie in movies_data %}
        <div class="movie">
            <img src="{{ movie.poster_path }}" alt="{{ movie.original_title }}">
            <div class="movie-details">
                {% if movie.title|length < 21 %}
                    <h2 style="margin-bottom: 90px;">{{ movie.title }}</h2>
                {% elif movie.title|length < 43 %}
                    <h2 style="margin-bottom: 50px;">{{ movie.title }}</h2>
                {% else %}
                    <h2>{{ movie.title }}</h2>
                {% endif %}
                <a href="{{ url_for('dashboard.view_info_movie', movie_id=movie.id) }}">Voir les infos</a>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}