{% extends "base.html" %}

{% block content %}

<div>
    <h1>Une erreur s'est produite</h1>
    <p>{{ error_message }}</p>

    <a href="{{ url_for('dashboard') }}">Retour à l'accueil</a>
</div>


{% endblock %}