{% extends "base.html" %}

{% block content %}
<h1>Formulaire pour enregistrer un film manuellement</h1>

<form class="signin-form" action="{{ url_for('dashboard.update_movie',movie_id=data_movie.id) }}" method="post">
    <!-- Champ hidden pour transmettre l'id du film -->
    <input type="hidden" id="movie_id" name="movie_id" value="{{ data_movie.id }}">
    <input type="hidden" id="rating_basic" name="rating_basic" value="{{ data_movie.vote_average }}">
    <input type="hidden" id="poster_path" name="poster_path" value="{{ data_movie.poster_path }}">

    <label class="signin-label" for="title">Titre</label>
    <input class="signin-input" type="text" id="title" name="title" value="{{ data_movie.title }}" required style="width: 1000px"><br><br>

    <label class="signin-label" for="overview">Résumé</label>
    <textarea class="signin-input" id="overview" name="overview" rows="4" style="width: 1000px; height: 120px;">{{ data_movie.overview|safe }}</textarea><br><br>

    <label class="signin-label" for="duration">Durée (minutes)</label>
    <input class="signin-input" type="number" id="duration" name="duration" value="{{ data_movie.runtime }}" style="width: 250px"><br><br>
    
    <label class="signin-label" for="release_date">Date de sortie</label>
    <input class="signin-input" type="date" id="release_date" name="release_date" value="{{ data_movie.release_date }}" style="width: 250px"><br><br>

    <label class="signin-label" for="genre">Genre</label>
    <input class="signin-input" type="text" id="genre" name="genre" value="{{ data_movie.genre }}" style= "width: 500px"><br><br>

    <label class="signin-label" for="director">Réalisateur</label>
    <input class="signin-input" type="text" id="director" name="director" placeholder="Nom du réalisateur" value="{{ data_movie.director }}" style= "width: 500px"><br><br>

    <label class="signin-label" for="actors">Acteurs</label>
    <div id="actors-container">
        {% for actor in data_movie.actors %}
        <div class="actor-field">
            <input class="signin-input" type="text" name="actors[]" placeholder="Nom d'un acteur" style="width: 500px" value="{{ actor }}">
            <button type="button" onclick="removeActorField()" class="remove-actor-button">Supprimer un acteur</button>
        </div>
        {% endfor %}
        <button type="button" onclick="addActorField()" class="add-actor-button">Ajouter un acteur</button>
    </div><br><br>

    <label class="signin-label" for="rating">Note</label>
    <div class="rating">
        <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
    </div>

    <label class="signin-label" for="support">Support</label>
    <select class="signin-input" id="support" name="support" style= "width: 500px">
        <option value="Aucun" {% if data_movie.support == 'Aucun' %}selected{% endif %}>Aucun</option>
        <option value="Blu-ray" {% if data_movie.support == 'Blu-ray' %}selected{% endif %}>Blu-ray</option>
        <option value="DVD" {% if data_movie.support == 'DVD' %}selected{% endif %}>DVD</option>
        <option value="clé usb" {% if data_movie.support == 'clé usb' %}selected{% endif %}>Clé USB</option>
        <option value="disque dur" {% if data_movie.support == 'disque dur' %}selected{% endif %}>Disque dur</option>
    </select><br><br>


    <input class="signin-button" type="submit" value="Ajouter">
</form>

<script>
    function addActorField() {
        var container = document.getElementById("actors-container");
        var actorDiv = document.createElement("div");
        actorDiv.className = "actor-field";
        var input = document.createElement("input");
        input.type = "text";
        input.name = "actors[]";
        input.placeholder = "Nom d'un acteur";
        input.style= "width: 500px";
        input.className = "signin-input";
        actorDiv.appendChild(input);
        var removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.onclick = function() {
            container.removeChild(actorDiv);
        };
        removeButton.innerHTML = "Supprimer un acteur";
        actorDiv.appendChild(removeButton);
        container.appendChild(actorDiv);appendChild(actorDiv);
    }
    function removeActorField() {
        var container = document.getElementById("actors-container");
        var actorFields = container.getElementsByClassName("actor-field");

        if (actorFields.length >= 1) {
            var lastActorField = actorFields[actorFields.length - 1];
            container.removeChild(lastActorField);
        }
    }
</script>
{% endblock %}