{% extends "base.html" %}

{% block content %}
<h1>Formulaire pour enregistrer un film manuellement</h1>

<form class="signin-form" action="{{ url_for('dashboard.manual_add_movie') }}" method="post">
    <label class="signin-label" for="title">Titre</label>
    <input class="signin-input" type="text" id="title" name="title" required style="width: 1000px"><br><br>

    <label class="signin-label" for="overview">Résumé</label>
    <textarea class="signin-input" id="overview" name="overview" rows="4" style="width: 1000px; height: 120px;"></textarea><br><br>

    <label class="signin-label" for="duration">Durée (minutes)</label>
    <input class="signin-input" type="number" id="duration" name="duration" style="width: 250px"><br><br>
    
    <label class="signin-label" for="release_date">Date de sortie</label>
    <input class="signin-input" type="date" id="release_date" name="release_date" style="width: 250px"><br><br>

    <label class="signin-label" for="genre">Genre</label>
    <input class="signin-input" type="text" id="genre" name="genre" style= "width: 500px"><br><br>

    <label class="signin-label" for="director">Réalisateur</label>
    <input class="signin-input" type="text" id="director" name="director" placeholder="Nom du réalisateur" style= "width: 500px"><br><br>

    <label class="signin-label" for="actors">Acteurs</label>
    <div id="actors-container">
        <input class="signin-input" type="text" name="actors[]" placeholder="Nom d'un acteur" style="width: 400px">
        <button type="button" onclick="addActorField()" class="add-actor-button">Ajouter un acteur</button>
        <button type="button" onclick="removeActorField()" class="remove-actor-button">Supprimer un acteur</button>
    </div><br><br>

    <label class="signin-label" for="rating">Note</label>
    <div class="rating">
        <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
    </div>

    <label class="signin-label" for="support">Support</label>
    <select class="signin-input" id="support" name="support" style= "width: 500px">
        <option value="Aucun">Aucun</option>
        <option value="Blu-ray">Blu-ray</option>
        <option value="DVD">DVD</option>
        <option value="clé usb">Clé USB</option>
        <option value="disque dur">Disque dur</option>
    </select><br><br>


    <input class="signin-button" type="submit" value="Ajouter">
</form>

<script>
    function addActorField() {
        var container = document.getElementById("actors-container");
        var actorDiv = document.createElement("div");
        actorDiv.className = "actor-field";
        var input = document.createElement("input");
        input.type = "text";
        input.name = "actors[]";
        input.placeholder = "Nom d'un acteur";
        input.style= "width: 500px";
        input.className = "signin-input";
        actorDiv.appendChild(input);
        container.appendChild(actorDiv);
    }
    function removeActorField() {
        var container = document.getElementById("actors-container");
        var actorFields = container.getElementsByClassName("actor-field");

        if (actorFields.length >= 1) {
            var lastActorField = actorFields[actorFields.length - 1];
            container.removeChild(lastActorField);
        }
    }
</script>
{% endblock %}