{% extends "base.html" %}

{% block content %}

<h1>Page d'accueil</h1>
<p>Veuillez choisir un mode de connexion pour accéder à votre vidéothèque</p>
<ul class="home-links">
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
</ul>

{% endblock %}