{% extends "base.html" %}

{% block content %}
    <div class="info-movie">
        <a href="{{ url_for('dashboard.update_movie', movie_id=theMovie.id) }}">Modifier les infos du films</a>
        <a href="{{ url_for('dashboard.delete_movie', movie_id=theMovie.id) }}" name="delete">Supprimer le film</a>
    </div>

    <div class="movie-container">
        <img src="{{ theMovie.id }}" alt="{{ theMovie.original_title }}">
        <div class="movie-details">
            <h2>{{ theMovie.title }}</h2>
            <p>Synopsis : {{theMovie.overview}}</p>
            <p>Réalisateur: {{ theMovie.director }}</p>
            <p>Acteurs: {{ ', '.join(theMovie.actors) }}</p>
            <p>Durée: {{ theMovie.runtime }} minutes</p>
            <p>Date de sortie: {{ theMovie.release_date }}</p>
            <div class="rating">
                {% for _ in range(theMovie.vote_average) %}
                    <span class="star">★</span>
                {% endfor %}
            </div>
        </div>
        <div class="support">
            <p>Support: {{ theMovie.support }}</p>
        </div>
    </div>

{% endblock %}