{% extends "base.html" %}

{% block content %}
<h1>Formulaire de connexion</h1>
{% if login_is_correct == False %}
    <p class="signin-error">Login incorrect veuillez réessayer !</p>
{% endif %}
    <form class="signin-form" action="{{ url_for('auth.login') }}" method="post">
        <label class="signin-label" for="email">Email</label>
        <input class="signin-input" type="email" id="email" name="email" required><br><br>
        <label class="signin-label" for="password">Password</label>
        <input class="signin-input" type="password" id="password" name="password" required><br><br>
        <input class="signin-button" type="submit" value="Connexion">
    </form>


{% endblock %}