{% extends "base.html" %}

{% block content %}

<h1>Sélectionner le film que vous souhaitez ajouter !</h1>

<div class="movie-list-section">
    {% for movie in data_movies %}
        <div class="movie">
            <img src="{{url_for_image}}{{ movie.poster_path }}" alt="{{ movie.original_title }}">
            <div class="movie-details">
                {% if movie.title|length < 21 %}
                    <h2 style="margin-bottom: 90px;">{{ movie.title }}</h2>
                {% elif movie.title|length < 42 %}
                    <h2 style="margin-bottom: 50px;">{{ movie.title }}</h2>
                {% else %}
                    <h2>{{ movie.title }}</h2>
                {% endif %}
                    <a href="{{ url_for('dashboard.add_movie', movie_id=movie.id) }}">Ajouter</a>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}