{% extends "base.html" %}

{% block content %}

<h1>Formulaire d'inscription</h1>
{% if is_email_already_use %}
    <p class="signin-error">L'adresse mail existe déjà !</p>
{% endif %}
    <form class="signin-form" action="{{ url_for('auth.signup') }}" method="post">
        <label class="signin-label" for="first_name">Prénom</label>
        <input class="signin-input" type="text" id="first_name" name="first_name" required><br><br>
        <label class="signin-label" for="last_name">Nom</label>
        <input class="signin-input" type="text" id="last_name" name="last_name" required><br><br>
        <label class="signin-label" for="email">Email</label>
        <input class="signin-input" type="email" id="email" name="email" required><br><br>
        <label class="signin-label" for="password">Password</label>
        <input class="signin-input" type="password" id="password" name="password" required><br><br>
        <input class="signin-button" type="submit" value="Inscription">
    </form>


{% endblock %}